# 4.Type Casting and Conversion in Python for Data Science

## 4.1 What is Type Conversion?
In Python, Type Conversion converts the data in a Variable from one Data Type to the Other Data Type. Let's work with some Types of conversion below.

## Example
Let's convert Integer variable to Float

In [1]:
a = 10 #integer Value
print("The Value of a is",a,",and The Data Type of a is",type(a))
#Converting a to FLoat
b = float(10)
print("The Value of a is",b,",and The Data Type of a is",type(b))

The Value of a is 10 ,and The Data Type of a is <class 'int'>
The Value of a is 10.0 ,and The Data Type of a is <class 'float'>

## 4.2 Integer, Float, and String Conversions
## 4.2.1 Integer and float Conversions

### Integer to float

In [19]:
a = 10 #Integer Variable
a

10

In [20]:
type(a)

int

In [21]:
b = float(b)
b

10.0

In [22]:
type(b)

float

### Float to Integer

In [23]:
a = 10.5 #Float
a

10.5

In [24]:
type(a)

float

In [26]:
b = int(a)
b

10

In [27]:
type(b)

int

## 4.2.2. Integer and String Conversions

## Integer to String

In [63]:
a = 10 #Integer Value
a

10

In [64]:
type(a)

int

In [65]:
b = str(a)
b

'10'

In [66]:
type(b)

str

### String to Integer

In [67]:
a = "10" #String Value
a

'10'

In [68]:
type(a)

str

In [69]:
b = int(a)
b

10

In [70]:
type(b)

int

## 4.2.3. Floating point and String Conversions

### Float to String

In [71]:
a = 10.5 #Floating Point Value
a

10.5

In [72]:
type(a)

float

In [73]:
b = str(a)
b

'10.5'

In [74]:
type(b)

str

### String to Float

In [75]:
a = "10.5" #String Variable
a

'10.5'

In [76]:
type(a)

str

In [77]:
b = float(b)
b

10.5

In [78]:
str(b)

'10.5'

## 4.3. List, Tuple, Range Conversions
## 4.3.1. List and Tuple Conversions

### List to Tuple

In [79]:
l = [1,2,3]
l

[1, 2, 3]

In [80]:
type(l)

list

In [81]:
t = tuple(l)
t

(1, 2, 3)

In [82]:
type(t)

tuple

### Tuple to List

In [84]:
t = (1,2,3)
t

(1, 2, 3)

In [85]:
type(t)

tuple

In [86]:
l = list(t)
l

[1, 2, 3]

In [87]:
type(l)

list

## 4.3.2 Range and List Conversions

### Range to List

In [6]:
r = range(0,15,2)
r

range(0, 15, 2)

In [7]:
type(r)

range

In [8]:
l = list(r)
l

[0, 2, 4, 6, 8, 10, 12, 14]

In [9]:
type(l)

list

## 4.3.3. List to Tuple Conversions

### Range to tuple

In [15]:
r = range(0,15,2)
r

range(0, 15, 2)

In [16]:
type(r)

range

In [20]:
t = tuple(r)
t

(0, 2, 4, 6, 8, 10, 12, 14)

In [19]:
type(t)

tuple

## 4.4 Dictionary, List, and Tuple

### Dictionary to List

In [35]:
d = {'a':10,'b':15}
d

{'a': 10, 'b': 15}

In [36]:
type(d)

dict

In [37]:
d.keys()

dict_keys(['a', 'b'])

In [38]:
d.values()

dict_values([10, 15])

In [39]:
l1 = list(d.keys())
l1

['a', 'b']

In [40]:
l2 = list(d.values())
l2

[10, 15]

In [41]:
type(l1)

list

### List to Dictionary

In [60]:
l1 = ['a',10]
l1

['a', 10]

In [61]:
l2 = ['b',15]
l2

['b', 15]

In [62]:
type(l2)

list

In [63]:
d = dict([l1,l2])
d

{'a': 10, 'b': 15}

In [64]:
type(d)

dict

### Dictionary to Tuple

In [42]:
d = {'a':10,'b':15}
d

{'a': 10, 'b': 15}

In [43]:
type(d)

dict

In [44]:
d.keys()

dict_keys(['a', 'b'])

In [45]:
d.values()

dict_values([10, 15])

In [47]:
t1 = tuple(d.keys())
t1

('a', 'b')

In [48]:
t2 = tuple(d.values())
t2

(10, 15)

In [49]:
type(t2)

tuple

### Tuple to dictionary

In [66]:
t1 = ('a',10)
t1

('a', 10)

In [67]:
t2 = ('b',15)
t2

('b', 15)

In [68]:
type(t1)

tuple

In [70]:
d = dict((t1,t2))
d

{'a': 10, 'b': 15}

In [71]:
type(d)

dict

## 4.5.Boolean, int, float, string conversions

### Boolean to int,float,string

In [76]:
a = True
a

True

In [77]:
type(a)

bool

In [75]:
i = int(a) #Integer
i

1

In [83]:
f = float(a) #Floating Point
f

1.0

In [84]:
s = str(a) #String
s

'True'

In [85]:
print(type(i),type(f),type(s))

<class 'int'> <class 'float'> <class 'str'>

### Integer, float, and String to Boolean

In [104]:
i = 1 #integer
i

1

In [105]:
f = 1.0 #float
f

1.0

In [106]:
s = "True" #String
s

'True'

In [102]:
b = [bool(i), bool(f), bool(s)]
b

[True, True, True]

In [103]:
type(bool(i)),type(bool(f)),type(bool(s))

(bool, bool, bool)

## 4.6. Set, Frozen set, List, and Tuple Conversions

## 4.6.1. List,Set, and Frozen Set Conversions

### List to Set and Frozen Set

In [108]:
l = [1,2,3,1]
l

[1, 2, 3, 1]

In [110]:
type(l)

list

In [111]:
s = set(l) #set
s

{1, 2, 3}

In [112]:
type(s)

set

In [113]:
fs = frozenset(l) #frozen set
fs

frozenset({1, 2, 3})

In [114]:
type(fs)

frozenset

# Set, Frozen Set to List

In [115]:
s = {1,2,3}
s

{1, 2, 3}

In [116]:
type(s)

set

In [117]:
l = list(s)
l

[1, 2, 3]

In [118]:
type(l)

list

In [120]:
f = frozenset({1,2,3})
f

frozenset({1, 2, 3})

In [121]:
type(f)

frozenset

In [122]:
l = list(f)
f

frozenset({1, 2, 3})

In [123]:
type(l)

list

### 4.6.2. Tuple and set conversions

### Tuple to set

In [137]:
t = (1,2,3,1)
t

(1, 2, 3, 1)

In [138]:
type(t)

tuple

In [139]:
s = set(t)
s

{1, 2, 3}

In [140]:
type(s)

set

### set to Tuple

In [141]:
s = {1,2,3,1}
s

{1, 2, 3}

In [142]:
type(s)

set

In [144]:
t = tuple(s)
t

(1, 2, 3)

In [145]:
type(t)

tuple

## 4.6.3 set to frozenset conversion

In [146]:
s = {1,2,3}
s

{1, 2, 3}

In [147]:
type(s)

set

In [148]:
f = frozenset(s)
f

frozenset({1, 2, 3})

In [149]:
type(f)

frozenset