# 19. The Complete Explanation of Tuple Methods in Python

##### Refer to Python for Data Science blog post to Learn more on Tuple, Tuple Indexing, and Tuple Slicing.
https://www.shivmanlabs.com/post/tuples-in-python-for-data-science

## 19.1. How to Create a Tuple?

### Syntax

#Tuple Syntax

t = (I_1, I_2, ...,I_n)

#t = Tuple Name

#I = Item

### 1. Let's Create a Tuple with no Items.

Python Code:

In [44]:
empty_tuple = ()
print("Empty_tuple:", empty_tuple)
print("The Data Type of the Empty Tuple is", type(empty_tuple))

Empty_tuple: ()
The Data Type of the Empty Tuple is <class 'tuple'>

It is the way to create an Empty Tuple.

### 2) Let's Create a Tuple with only one Item.

In [45]:
t1 = ("Shivman Labs")
t2 = (10)

print("The Value of t1 is", t1, "The Data Type of t1 is", type(t1))
print("The Value of t2 is", t2, "The Data Type of t2 is", type(t2))

The Value of t1 is Shivman Labs The Data Type of t1 is <class 'str'>
The Value of t2 is 10 The Data Type of t2 is <class 'int'>

In the above Python program, We can notice that the data type of "t1" and "t2" is String and Integers. Let's see an example below to understand why python is not considering it as a Tuple.

In [46]:
a = 2 + (3 * 5)
print(a)

17

In the above Python Program. There is a mathematical Operation (2 + (3*5)). In case, If Python considers (3*5) as a Tuple. It cannot perform mathematical calculations because Tuple is an Immutable Object. Therefore, Python doesn't take a single Item Inside the Parenthesis() as a Tuple. We need to add a comma(,) at the end of the Item to make it a Tuple.

In [47]:
t1 = ("Shivman Labs",)
t2 = (10,)

print("The Value of t1 is", t1, "The Data Type of t1 is", type(t1))
print("The Value of t2 is", t2, "The Data Type of t2 is", type(t2))

The Value of t1 is ('Shivman Labs',) The Data Type of t1 is <class 'tuple'>
The Value of t2 is (10,) The Data Type of t2 is <class 'tuple'>

## 19.2. Tuple Concatenation

The Addition operator(+) is used to join two or more Tuples into a single Tuple.

### Syntax

t = t1 + t2 + .... tn

### Example:
 
Let's create two tuples. 
prog_tuple: A Tuple of programming languages used in Data Science. 
stats_tuple: A Tuple of Statistical tools used in Data Science. 
Let's concatenate the Items of prog_tuple and stats_tuple to Data Science Tuple(ds_tuple).

In [48]:
#Tuples
prog_tuple = ('R', 'SAS', 'Python')
stats_tuple = ('SPSS', 'Excel', 'Python', 'R')

#Tuple Concatenation
ds_tuple = prog_tuple + stats_tuple

print('prog_tuple  :', prog_tuple)
print('stats_tuple :', stats_tuple)
print('ds_tuple    :', ds_tuple)

prog_tuple  : ('R', 'SAS', 'Python')
stats_tuple : ('SPSS', 'Excel', 'Python', 'R')
ds_tuple    : ('R', 'SAS', 'Python', 'SPSS', 'Excel', 'Python', 'R')

## 19.3 Tuple Repetition (*)

### Syntax: 

t * n

It repeats the Items in the Tuple for 'n' number of times.

### Example:
Let's repeat the Item in the prog_tuple three times.

In [49]:
print('    prog_tuple :', prog_tuple)
print('prog_tuple * 3 :', prog_tuple * 3)

    prog_tuple : ('R', 'SAS', 'Python')
prog_tuple * 3 : ('R', 'SAS', 'Python', 'R', 'SAS', 'Python', 'R', 'SAS', 'Python')

## 19.4. Tuple Count

### Syntax: 

t.count(I)

It repeats the Number of times an Item repeats in the Tuple.

### Example:
Let's count the Number of times Python repeats in our ds_tuple.

In [50]:
print('ds_tuple:', ds_tuple)
print("ds_tuple.count('Python'):", ds_tuple.count('Python'))

ds_tuple: ('R', 'SAS', 'Python', 'SPSS', 'Excel', 'Python', 'R')
ds_tuple.count('Python'): 2

In [51]:
ds_tuple.index('Python')

2

 It returns the Index of First Instance of Python in the Tuple. To find the Index of the Next Instance of Python in the Tuple, Pass the Start parameter. 

### Example:
if, start = 3. It will start to search the First Instance of the Item in Tuple From Index 3.

In [52]:
ds_tuple.index('Python',3)

5

## 19.6. Tuple Membership

#Syntax: 

I in t

#or 

I not in t

#Example:
#Let's find whether Python is a member of ds_tuple.

In [53]:
print("Python in ds_tuple:",'Python' in ds_tuple)
print("Python not in ds_tuple:",'Python' not in ds_tuple)

Python in ds_tuple: True
Python not in ds_tuple: False

## 19.6. Tuple Append

There is no append function in the Tuple. But we can append an Item or the Tuple of Items by using the Addition Operation.

### Example:
Let's Append "Julia" to our ds_tuple.

In [54]:
print("Before Updating:",ds_tuple)

ds_tuple = ds_tuple + ("Julia",)

print("Afeter Updating:",ds_tuple)

Before Updating: ('R', 'SAS', 'Python', 'SPSS', 'Excel', 'Python', 'R')
Afeter Updating: ('R', 'SAS', 'Python', 'SPSS', 'Excel', 'Python', 'R', 'Julia')

## 19.7. Deleting an Item in the Tuple

19.7. Deleting an Item in the Tuple
We cannot delete an Item in the Tuple directly like the List. But, we can achieve that by slicing the Tuple.

### Example:

"Python" is repeated twice in the ds_tuple. Let's Remove the first Instance of "Python" from the ds_tuple.

Python Code:

In [55]:
print("Before deleting:",ds_tuple)

#The Index of Python is 2. Let's slice it by (:2) and (3:)

ds_tuple = ds_tuple[:2] + ds_tuple[3:]

print("After deleting:",ds_tuple)

Before deleting: ('R', 'SAS', 'Python', 'SPSS', 'Excel', 'Python', 'R', 'Julia')
After deleting: ('R', 'SAS', 'SPSS', 'Excel', 'Python', 'R', 'Julia')

## 19.8. Deleting the Tuple.

### Syntax:
del t

#t=tuple name

### Example:
Let's delete the ds_tuple.

### Python Code:

In [56]:
del ds_tuple
print(ds_tuple)

NameError: name 'ds_tuple' is not defined

## 19.9. Mathematical Functions in Tuple.

In [57]:
#Tuple
t = (1,3,4,6,2,5,3)
print("Length :", len(t))
print("Minimum:", min(t))
print("Maximum:", max(t))

Length : 7
Minimum: 1
Maximum: 6